@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    
.stApp {
    font-family: 'Poppins', sans-serif;
}

#MainMenu {visibility: hidden;}
    footer {visibility: hidden;}
    header {visibility: hidden;}
    
.block-container {
    padding-top: 0px !important;
}
    
.custom-columns {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
    text-align: center;
}
        
.column {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    background-color: white;
}

h3 {
    margin-top: 0;
}

.stTextInput input[aria-label="Enter your postal code"]{
    background-color: white !important;
}

[data-testid="stBaseButton-secondaryFormSubmit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

[data-testid="stBaseButton-secondaryFormSubmit"]:hover {
    background-color: #45a049;
}
